<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Wir haben was Sie suchen!</h2>
                <hr class="light">
                <p class="text-faded">Unsere FotoBox bietet vielfache Möglichkeiten! Bildershow aller gemachten Bilder. Sofortige online Galerie zum Zugriff für alle Gäste. Individuell gestaltbare Bild Banner.</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
