<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p class="copyright text-muted">Copyright &copy; {{ site.time | date: '%Y' }} - FotoBox für Gernsheim, Darmstadt, Groß-Umstadt und Umgebung <br> <a href="{{ site.url | prepend: site.baseurl }}/impressum/" rel="author">Impressum</a> - <a href="{{ site.url | prepend: site.baseurl }}/datenschutzerklaerung/" rel="author">Datenschutzerklärung</a></p>
            </div>
        </div>
   </div>
   {% include google_ads_footer.html %}
</footer>
	
