<section id="fotobox">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Die FotoBox bietet Ihnen</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-picture-o wow bounceIn text-primary"></i>
                    <h3>Bilder Flatrate</h3>
                    <p class="text-muted">Machen Sie so viele Bilder wie sie wollen. Es gibt kein Limit nach oben.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-camera wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>DSLR Kamera</h3>
                    <p class="text-muted">Eine digitale Nikon Spiegelreflex Kamera sorgt für qualitativ hochwertige Aufnahmen.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-bolt wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Beleuchtung</h3>
                    <p class="text-muted">Eine Studio Blitz Anlage macht die Nacht zum Tag. Und setzt alle(s) ins rechte Licht.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-wifi wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Wifi</h3>
                    <p class="text-muted">Ein eigener Wlan Hotspot ermöglicht bei Bedarf direkten Zugriff auf alle Bilder.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-dropbox  wow bounceIn text-primary" data-wow-delay=".4s"></i>
                    <h3>Internet upload</h3>
                    <p class="text-muted">Alle Bilder sind sofort online verfügbar und können direkt per Smartphone abgerufen werden.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-floppy-o  wow bounceIn text-primary" data-wow-delay=".5s"></i>
                    <h3>Alle Dateien</h3>
                    <p class="text-muted">Sie erhalten alle Bilder im JPEG als auch im RAW Format zur eigenen Verwendung.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-user-secret wow bounceIn text-primary" data-wow-delay=".6s"></i>
                    <h3>Betreuung</h3>
                    <p class="text-muted">Wir bauen alles auf und betreuen die FotoBox den ganzen Abend.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary" data-wow-delay=".7s"></i>
                    <h3>Vieles mehr</h3>
                    <p class="text-muted">Sie vermissen etwas? Fragen Sie uns! Die FotoBox bietet noch einiges mehr.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <hr class="primary">
                <a href="{{ site.url | prepend: site.baseurl }}/fotobox/" class="btn btn-primary btn-xl page-scroll wow tada">Alle FotoBox Details...</a>
            </div>
        </div>
    </div>
</section>
