{% if page.section or page.background-image %}
<!--<header{% if page.background-image %} style="background-image:url({{ page.background-image }})"{% endif %}>-->
<header{% if page.background-image %} class="lazyload" data-bg="{{ page.background-image }}" data-expand="1000"{% endif %}>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>{% if page.title %}{{ page.title }}{% else %}Ihre favorisierte FotoBox{% endif %}</h1>
            <hr>
            <p>{% if page.subtitle %}{{ page.subtitle }}{% else %}Mit Fotos aus der Box verleihen Sie Ihrem Event den letzten Schliff!{% endif%}</p>
            {% if page.date %}{% include postedby.html %}
			<a href="#start" class="btn btn-primary btn-xl page-scroll">Artikel lesen</a>
			{% endif %}
            {% if page.section_text %}<hr>
			<a href="#{{ page.section }}" class="btn btn-primary btn-xl page-scroll wow tada">{{ page.section_text }}</a>
			{% endif %}
        </div>
    </div>
</header>
{% else %}
<header id="intro-header" {% if page.background-image %} class="lazyload" data-bg="{{ page.background-image }}" data-expand="1000"{% endif %}>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>{% if page.title %}{{ page.title }}{% else %}Ihre favorisierte FotoBox{% endif %}</h1>
        </div>
    </div>
</header>
{% endif%}