<!--<div class="lazyload" data-link="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
</div>
<div class="lazyload" data-link="http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic">
</div>
-->
<!--<header{% if page.background-image %} style="background-image:url({{ page.background-image }})"{% endif %}>-->
<!--<header class="lazyload" data-bg="{{ site.url | prepend: site.baseurl }}{{ site.assets.images }}{% if page.background-image %}{{ page.background-image }}{% else %}/header/fotos-aus-der-box.jpg{% endif %}"{% if page.section or page.background-image %}{% else %} id="intro-header"{% endif %}>-->
<header style="background-image:url({% if site.url_cdn %}{{ site.url_cdn | prepend: site.baseurl }}{% else %}{{ site.url | prepend: site.baseurl }}{% endif %}{{ site.assets.images }}{% if page.background-image %}{{ page.background-image }}{% else %}/header/fotos-aus-der-box{{ site.version }}.jpg{% endif %})"{% if page.section or page.background-image %}{% else %} id="intro-header"{% endif %}>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>{% if page.title %}{{ page.title }}{% else %}Ihre favorisierte FotoBox{% endif %}</h1>
{% if page.section or page.background-image %}
            <hr>
            <p>{% if page.subtitle %}{{ page.subtitle }}{% else %}Mit Fotos aus der Box verleihen Sie Ihrem Event den letzten Schliff!{% endif%}</p>
            {% if page.date %}{% include postedby.html %}
			<a href="#start" class="btn btn-primary btn-xl page-scroll">Artikel lesen</a>
			{% endif %}
            {% if page.section_text %}<hr>
			<a href="#{{ page.section }}" class="btn btn-primary btn-xl page-scroll wow tada">{{ page.section_text }}</a>
			{% endif %}
{% endif %}
        </div>
    </div>
</header>
