<section id="kosten" class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <i class="fa fa-4x fa fa-eur wow bounceIn text-primary"></i>
                <h2 class="section-heading">FotoBox Classic für 289.- incl. MwSt.</h2>
                <hr class="primary">
                <p class="text-muted">Das FotoBox Classic Paket beinhaltet die Anlieferung und den Auf- und Abbau durch uns. Alle Bilder werden werden direkt in einer Online Galerie zur Verfügung gestellt.Zum Abschluss erhalten Sie alle entstandenen Bilddateien auf einem USB Stick.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <i class="fa fa-4x fa fa-eur wow bounceIn text-primary"></i>
                <h2 class="section-heading">FotoBox Kiosk für 399.- incl. MwSt.</h2>
                <hr class="primary">
                <p class="text-muted">Zusätzlich zum FotoBox Classic Paket ist hier unser FotoKiosk enthalten, über den die Bilder der FotoBox in den Größen 10x15 und 15x20 gedruckt werden können.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <i class="fa fa-4x fa fa-eur wow bounceIn text-primary"></i>
                <h2 class="section-heading">Betreuung, Gestaltung der Ausdrucke, Event Fotografie - Kosten auf Anfrage</h2>
                <hr class="primary">
                <p class="text-muted">Auf Wunsch bleiben wir während der Veranstaltung vor Ort und betreuen die FotoBox sowie den FotoKiosk, gestalten die Ausdrucke vom FotoKiosk individuell nach Ihren Wünschen mit Text und Logos oder begleiten Ihr Event auch fotografisch, mit einer professionellen Ausrüstung<br/>Bitte sprechen Sie uns für ein Individuelles Angebot an.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <hr class="primary">
                <a href="{{ site.url | prepend: site.baseurl }}/kosten/" class="btn btn-primary btn-xl page-scroll wow tada">Kosten im einzelnen</a>
            </div>
        </div>
    </div>
</section>
