<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="{{ site.url | prepend: site.baseurl }}{% post_url 2015-11-01-halloween-party %}" class="portfolio-box">
                    <img data-src="{{ site.url | prepend: site.baseurl }}{{ site.assets.images }}/portfolio/FotoBox-mieten-Halloween.jpg" class="img-responsive lazyload" alt="FotoBox mieten für Halloween" height="350" width="650">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Halloween
                            </div>
                            <div class="project-name">
                                Bellini in Gernsheim
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="{{ site.url | prepend: site.baseurl }}{% post_url 2015-07-19-auch-outdoor-ein-hit %}" class="portfolio-box">
                    <img data-src="{{ site.url | prepend: site.baseurl }}{{ site.assets.images }}/portfolio/Hochzeit-FotoBox-Gernsheim.jpg" class="img-responsive lazyload" alt="FotoBox Gernsheim Hochzeit" height="350" width="650">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Outdoor Auftritt
                            </div>
                            <div class="project-name">
                                Voller Einsatz
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="{{ site.url | prepend: site.baseurl }}{% post_url 2015-11-01-halloween-party %}" class="portfolio-box">
                    <img data-src="{{ site.url | prepend: site.baseurl }}{{ site.assets.images }}/portfolio/FotoBox-mieten-Gernsheim.jpg" class="img-responsive lazyload" alt="FotoBox mieten in Gernsheim" height="350" width="650">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Halloween Party
                            </div>
                            <div class="project-name">
                                Verkleidung war Pflicht.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="{{ site.url | prepend: site.baseurl }}{% post_url 2015-04-26-der-erste-einsatz %}" class="portfolio-box">
                    <img data-src="{{ site.url | prepend: site.baseurl }}{{ site.assets.images }}/portfolio/Geburtstag-FotoBox-leihen.jpg" class="img-responsive lazyload" alt="FotoBox für Geburtstage leihen" height="350" width="650">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Noch ist die Couch leer
                            </div>
                            <div class="project-name">
                                Hier könnten Sie sitzen!
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="{{ site.url | prepend: site.baseurl }}{% post_url 2015-07-19-auch-outdoor-ein-hit %}" class="portfolio-box">
                    <img data-src="{{ site.url | prepend: site.baseurl }}{{ site.assets.images }}/portfolio/FotoBox-Action.jpg" class="img-responsive lazyload" alt="Action mit der FotoBox" height="350" width="650">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Auch Outdoor ein Hit!
                            </div>
                            <div class="project-name">
                                Umwerfend gut!
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="{{ site.url | prepend: site.baseurl }}{% post_url 2015-04-26-der-erste-einsatz %}" class="portfolio-box">
                    <img data-src="{{ site.url | prepend: site.baseurl }}{{ site.assets.images }}/portfolio/Firmenevent-mit-FotoBox.jpg" class="img-responsive lazyload" alt="FotoBox auf für Firmenevents und Messen" height="350" width="650">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Der erste Einsatz
                            </div>
                            <div class="project-name">
                                Fährhaus in Gernsheim
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
