<!-- jQuery -->
<!--<script src="{{ site.url | prepend: site.baseurl }}{{ site.assets.js }}/jquery.js"></script>-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<!--<script src="{{ site.url | prepend: site.baseurl }}{{ site.assets.js }}/bootstrap.min.js"></script>
-->

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==" crossorigin="anonymous"></script>

<!-- Webfont loader -->
<script src="//ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>

<script>
  WebFont.load({
    google: {
      families: ['Open Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800','Merriweather:400,300,300italic,400italic,700,700italic,900,900italic']
    }
  });
</script>
<!--
-->


<!-- Plugin JavaScript -->
<!--
<script src="{{ site.url | prepend: site.baseurl }}{{ site.assets.js }}/jquery.easing.min.js"></script>
<script src="{{ site.url | prepend: site.baseurl }}{{ site.assets.js }}/jquery.fittext.js"></script>
<script src="{{ site.url | prepend: site.baseurl }}{{ site.assets.js }}/wow.min.js"></script>
-->
  
<!-- Custom Theme JavaScript -->
<!--
<script src="{{ site.url | prepend: site.baseurl }}{{ site.assets.js }}/creative.js"></script>
-->

<!-- Everything minimized -->
<script src="{{ site.url | prepend: site.baseurl }}{{ site.assets.js }}/scripts.min.js" async=""></script>
<!--
-->

<!-- Lazy load stuff -->
<!--
<script src="{{ site.url | prepend: site.baseurl }}{{ site.assets.js }}/lazysizes.min.js" async=""></script>
<script src="{{ site.url | prepend: site.baseurl }}{{ site.assets.js }}/ls.unveilhooks.min.js" async=""></script>
-->
