a[href*="//"]:not([href*="amzn.to"]):not([href*="res.cloudinary.com"]):not([href*="fotos-aus-der-box.de"]):not([href*="localhost"]):after { content: "\f08e"; font-family: "FontAwesome"; padding-left: 5px; }

a[href*="//amzn.to"]:not([href*="localhost"]):after { content: "\f270"; font-family: "FontAwesome"; padding-left: 5px; }

blockquote {
    background-color: linen;
}

h2, .h2, h3, .h3, h4, .h4 {
  font-weight: bold;
}

a, a:hover {
.service-box {
		h3 {
			color: #333;
			text-decoration: none;
		}
    }
}
