---
layout: compress
---
<!DOCTYPE html>
<html lang="de">

{% include head.html %}

<body id="page-top">
{% include nav.html %}
{% include header.html %}
{{ content }}
<div class="container">
<div class="row">
   <div class="col-lg-8 col-lg-offset-2 text-center">
            <p><strong>Lassen Sie uns Kontakt aufnehmen:</strong></p><p>Rufen Sie uns an oder senden Sie uns eine email. Wir melden uns umgehend bei Ihnen!</p>
        </div>
    <div class="col-lg-3 col-lg-offset-3 text-center">
        <a href="mailto:{{ site.email }}">
        <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
            <p>{{ site.email }}</p>
        </a>
    </div>
    <div class="col-lg-3 col-lg-offset-0 text-center">
        <i class="fa fa-phone-square fa-3x wow bounceIn" data-wow-delay=".1s"></i>
            <p>{{ site.telefon }}</p>
    </div>
</div>
</div>
{% include footer.html %}
{% include scripts.html %}
{% include google_ads_scripts.html %}
</body>
</html>
