---
layout: default
---
{% comment %}
<div class="container">
   <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 text-center">
		  <h2>{{ page.subtitle }}</h2>
      </div>
   </div>
</div>
{% endcomment %}
<!-- Post Content -->
<article id="{% if page.section %}{{ page.section }}{% else %}start{% endif %}">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 text-center">
		  <h2>{{ page.subtitle }}</h2>
      </div>
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 text-justify">{{ content }}</div>
    </div>
  </div>
</article>

